Tipe-tipe Data bawaan Python, Meliputi :
1. Numerik =
Numerik merupakan data yang berisikan angka
2. Teks =
Data Teks adalah data yang berisikan karakter huruf atau simbol
3. Boolean =
Data boolean merupakan data yang memiliki nilai kondisi True atau False

Numerik merupakan data yang berisikan data. Tipe data Numerik sendiri terbagi atas 3, yaitu : 
1. Int (Integer)
2. Float (Decimal Points)
3. Complex (x+yj, dimana x adalah bilangan riil dan y adalah bilangan imajiner)

In [ ]:
#contoh penggunaan data integer,float, dan complex
a = 8
b = 11.5
c = 3 + 4j

In [ ]:
type(a)

int

In [ ]:
type(b)

float

In [ ]:
type(c)

complex

String (Str) merupakan unicode atau karakter dari suatu data yang perlu menggunakan tanda " saat men-define fungsinya, untuk penggunaan >1 baris tanda petiknya sebanyak 3 atau """"

In [ ]:
#contoh penggunaan data string untuk 1 baris dan >1
numpy = "numphy kelompok kami"
num_py = """Anggota Kelompok :
Atika Rahmah
Muhammad Atthariq Ramadhan
Muhammad Iqbal Rustan
Daril Hana Salsabila
Donny P. Tambunan 
 """

In [ ]:
print(numpy)

numphy kelompok kami

In [ ]:
print(num_py)

Anggota Kelompok :
Atika Rahmah
Muhammad Atthariq Ramadhan
Muhammad Iqbal Rustan
Daril Hana Salsabila
Donny P. Tambunan

In [ ]:
type(numpy)

str

In [ ]:
type(num_py)

str

In [ ]:
#contoh lain penggunaan data string untuk lebih dari 1 baris
num_py = "Anggota Kelompok : \nAtika Rahmah \nMuhammad Atthariq Ramadhan \nMuhammad Iqbal Rustan \nDaril Hana Salsabila \nDonny P. Tambunan"

In [ ]:
print(num_py)

Anggota Kelompok :
Atika Rahmah
Muhammad Atthariq Ramadhan
Muhammad Iqbal Rustan
Daril Hana Salsabila
Donny P. Tambunan

In [ ]:
type(num_py)

str